Web References/CustomerService/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ws.smartRestaurant.net" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.smartRestaurant.net" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.smartRestaurant.net">
      <s:element name="GetCustomers">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersResult" type="s0:ArrayOfCustomerInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCustomerInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomerInformation" nillable="true" type="s0:CustomerInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerInformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchCustomers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCustomersResult" type="s0:ArrayOfCustomerInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custInfo" type="s0:CustomerInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="custID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetCustomersSoapIn">
    <part name="parameters" element="s0:GetCustomers" />
  </message>
  <message name="GetCustomersSoapOut">
    <part name="parameters" element="s0:GetCustomersResponse" />
  </message>
  <message name="SearchCustomersSoapIn">
    <part name="parameters" element="s0:SearchCustomers" />
  </message>
  <message name="SearchCustomersSoapOut">
    <part name="parameters" element="s0:SearchCustomersResponse" />
  </message>
  <message name="SetCustomerSoapIn">
    <part name="parameters" element="s0:SetCustomer" />
  </message>
  <message name="SetCustomerSoapOut">
    <part name="parameters" element="s0:SetCustomerResponse" />
  </message>
  <message name="DeleteCustomerSoapIn">
    <part name="parameters" element="s0:DeleteCustomer" />
  </message>
  <message name="DeleteCustomerSoapOut">
    <part name="parameters" element="s0:DeleteCustomerResponse" />
  </message>
  <portType name="CustomerServiceSoap">
    <operation name="GetCustomers">
      <input message="s0:GetCustomersSoapIn" />
      <output message="s0:GetCustomersSoapOut" />
    </operation>
    <operation name="SearchCustomers">
      <input message="s0:SearchCustomersSoapIn" />
      <output message="s0:SearchCustomersSoapOut" />
    </operation>
    <operation name="SetCustomer">
      <input message="s0:SetCustomerSoapIn" />
      <output message="s0:SetCustomerSoapOut" />
    </operation>
    <operation name="DeleteCustomer">
      <input message="s0:DeleteCustomerSoapIn" />
      <output message="s0:DeleteCustomerSoapOut" />
    </operation>
  </portType>
  <binding name="CustomerServiceSoap" type="s0:CustomerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetCustomers">
      <soap:operation soapAction="http://ws.smartRestaurant.net/GetCustomers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchCustomers">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SearchCustomers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetCustomer">
      <soap:operation soapAction="http://ws.smartRestaurant.net/SetCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteCustomer">
      <soap:operation soapAction="http://ws.smartRestaurant.net/DeleteCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CustomerService">
    <port name="CustomerServiceSoap" binding="s0:CustomerServiceSoap">
      <soap:address location="http://localhost/smartService/CustomerService.asmx" />
    </port>
  </service>
</definitions>